.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig

# ignore output directories:
output/

contribs/noise/nullaverage_damages_link/
contribs/noise/nullaverage_damages_link_car/
contribs/noise/nullaverage_damages_link_hgv/
contribs/noise/nulldamages_receiverPoint/
